body{
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body ocupe 100% da altura */
    overflow-x: hidden;
    background-color: #D9CABE;
}
.header{
    display: flex;
    background-color: #090126;
    height: 145px;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 165px;
}

.header li{
    margin-left: 216px;
    
}

.header a{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #D9CABE;
}
/* Pagina inicial */
.logo{
    display: flex;
    margin: 0;
    padding: 0%;
    height: 180px;
    width: 10px;
    padding-left: 20;
}
.logo a ,h3{
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    color: #D9CABE;
}

.logo a,h3:hover{
    color: #A2AEF2;
    position: relative;
}

h1{
    color: #D9CABE;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 60px ;
    padding-left: 19px;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

h2{
    color: #D9CABE;
    font-size: 34px;
    font-family: "Hanken Grotesk", sans-serif;
    padding-left: 20px;
    text-align: center; 
    margin-top: 0px;
    margin-bottom: 0;

}

li{
    color: #D9CABE;
    font-size: 23px;
    font-family: "Hanken Grotesk", sans-serif;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    padding-bottom: 18px;

}
#imagem{
    background-image: url(../img/voa.jpg);
    height: 1900px;
    background-size: 1500px;
    margin: 0; 
    background-size: cover;
}
iframe{
    display: block; /* Faz com que a imagem se comporte como um bloco */
    margin: 0 auto;
    padding-bottom: 50px;
}

